/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
#large-header {
  background-image: url("https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");
}
.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}
.main-title .thin {
  font-weight: 200;
}
@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
.notification {
  display: none; /* Hidden by default */
  position: fixed; /* Positioned relative to the viewport */
  bottom: 20px; /* 20px from the bottom */
  right: 20px; /* 20px from the right */
  background-color: #f44336; /* Red background color */
  color: white; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 5px; /* Rounded corners */
  padding: 16px; /* Padding */
  z-index: 1; /* Sit on top */
  transition: opacity 0.6s; /* Fade out effect */
  opacity: 0; /* Initial opacity */
}

.notification.show {
  display: block; /* Show the notification */
  opacity: 1; /* Full opacity */
}
