apiVersion: apps/v1
kind: Deployment
metadata:
  name: fxp-gateway
  namespace: fxp-apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fxp-gateway
  template:
    metadata:
      labels:
        app: fxp-gateway
    spec:
      containers:
      - name: fxp-gateway
        image: tarek111778/fxp-gateway-image:v0.0.1
        ports:
        - containerPort: 5001
        env:
        - name: PREDICTION_SERVICE_URL
          value: "http://fxp-prediction:80"
        - name: DATA_STORAGE_SERVICE_URL
          value: "http://fxp-data-storage:80"
